<!-- default: collapsed -->
<div class="collapsible collapsible--expanded">

    <header class="collapsible__header">
      <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </span>
    </header>

    <div class="collapsible__content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni eos
      earum in vero officiis ratione fugit voluptas iste fuga ipsam?
    </div>
  </div>

  <div class="collapsible collapsible--expanded">
    
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Products 2</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </span>
    </header>

    <div class="collapsible__content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni eos
      earum in vero officiis ratione fugit voluptas iste fuga ipsam?
    </div>
  </div>

  <script src="js/main.js"></script>